@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  /* BREAKPOINTS */
  --mobile_breakpoint: 375px;
  /* COLORS */
  --primary_first: hsl(179, 62%, 43%);
  --primary_second: hsl(71, 73%, 54%);

  --neutral_first: hsl(204, 43%, 93%);
  --neutral_second: hsl(218, 22%, 67%);
  /* FONTS */
  --font_size: 16px;
  --font_family: "Karla";
  --font-wprimary: 700;
  --font-wsecondary: 400;
}

* {
  font-family: var(--font_family);
}

@media (min-width: 1280px) {
  body {
    height: calc(100vh - 20px);
    align-items: center;
  }
}

body {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

p {
  color: var(--neutral_first);
  font-weight: 400;
}

/* REUSABLE CLASSES */

.container-small {
  width: 52%;
}

.dflex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-template {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 280px;
}

.font-primary {
  color: var(--primary_first)
}

.font-secondary {
  color: var(--primary_second)
}

.font-primary-neutral {
  color: var(--neutral_second)
}

.bg-primary {
  background-color: var(--primary_first);
}

.shadow {
  box-shadow: 0px 4px 12px 3px rgba(181,177,181,.40);
}

.shadow-lg {
  box-shadow: 1px 5px 6px -5px rgba(0,0,0,.25);
}

.btn-primary {
  background-color: var(--primary_second);
  color: #ffffff;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.my-5 {
  margin: 5px 0;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15 {
  margin: 25px 0;
}

.font-white {
  color: #ffffff;
}

.border-radius {
  border-radius: 10px;
}

@media (max-width: 414px) {
  .container-small {
    width: 95%;
  }
  .grid-template {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

/* TABLET */

@media (max-width: 992px) and (min-width: 414px) {
  .container-small {
    width: 85%;
  }
}

/* SPECIFIC */
.price-first {
  grid-column: 1 / span 2;
  padding: 20px 45px;
  line-height: 25px;
}

.price-second {
  padding: 20px 40px;
  border-bottom-left-radius: inherit;
}

.price-thirst {
  filter: opacity(80%);
  padding: 0 40px;
  line-height: 1.5;
  border-bottom-right-radius: inherit;
}

.small-letter {
  color: var(--neutral_first);
  font-size: 15px;
  padding: 0 10px;
}

.price-thirst-p {
  margin: 0;
  padding-right: 2.2rem;
}

@media (max-width: 414px) {
  .price-first {
    padding: 20px 25px;
    grid-column: auto;
  }
  .price-second {
    border-bottom-left-radius: 0;
  }
  .price-thirst {
    border-bottom-left-radius: 10px;
  }
}